<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <connectionStrings>
	  <!-- <add name="DBConnection" connectionString="USER ID=MSSDR; Password=MSSDR; Data Source=10.33.17.152:1521/BPOSYS2;"/> -->
	  <add name="DBConnection" connectionString="USER ID=ms_rtn_t; Password=ms_rtn_t; Data Source=10.33.17.192:1521/PDBCCSDBT01;"/>
  </connectionStrings>
  <log4net>
    <!-- ログ出力先の定義 -->
    <appender name="DayRollingLogToFile" type="log4net.Appender.RollingFileAppender">
      <!-- 作成するログファイル -->
      <!-- ログ・ファイル名の先頭部分 -->
      <param name="File" value=".\Log\"/>
      <!-- 追加書き込み -->
      <param name="AppendToFile" value="true"/>
      <!-- 日付ごとにファイルを作成することを指定 -->
      <param name="RollingStyle" value="date"/>
      <!-- ログ・ファイル名が固定ではないので“false”を指定 -->
      <param name="StaticLogFileName" value="false"/>
      <!-- ファイル名の日付部分 -->
      <datePattern value="yyyyMMdd&quot;_${COMPUTERNAME}_${USERNAME}_MSPB.log&quot;"/>
      <!-- ログの書式 -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%2thread]%-5level %logger - %m%n"/>
      </layout>
    </appender>
    <root>
      <!-- ログのレベルを指定 -->
      <!-- すべてのログレベルを出力 -->
      <level value="INFO"/>
      <!-- どのログ出力先を使用するか -->
      <appender-ref ref="DayRollingLogToFile"/>
    </root>
  </log4net>
  <appSettings>
	  <!--共通-->	  
	  <!--会社マスタ 会社コード-->
	  <add key="COMPANY_CODE" value="1" />
	  <!--作業種別　AD/MS-->
	  <add key="WORK_KIND" value="MS"/>

	  <!-- MS返却出票ファイル名ヘッダー -->
	  <add key="MSPB003_SLIP_MS_RETURN_HEADER" value="MS返却" />
	  <!-- 契約者返却出票ファイル名ヘッダー -->
	  <add key="MSPB003_SLIP_CONTRACTOR_RETURN_HEADER" value="契約者返却" />
	  
	  <!-- MSPB003_発送帳票出力 -->
	  <!-- 出荷指定日初期表示加算日数 -->
	  <add key="MSPB003_SHIPPING_DATE_ADD_DAYS" value="1"/>
	  <!-- 出荷指定日チェック加算日数 -->
	  <add key="MSPB003_SHIPPING_DATE_LIMIT_ADD_DAYS" value="5"/>
	  <!-- 発送リスト -->
	  <!-- 発送リストOVL -->
	  <add key="MSPB003_SHIPPING_LIST_OVL" value="C:\テスト\MSPB\OVL\返却発送リスト_hhmmss.pdf"/>	  
	  <!-- 発送リスト出力先 -->
	  <add key="MSPB003_SHIPPING_LIST_OUTPUT_PATH" value=".\帳票出力\発送リスト"/>
	  <!-- 発送リスト出力ファイル名 -->
	  <add key="MSPB003_SHIPPING_LIST_OUTPUT_FILE_NAME" value="{0}_{1}発送リスト_{2}.pdf"/>
	  <!-- 伝票チェックシート -->
	  <!-- 伝票チェックシートOVL -->
	  <add key="MSPB003_SHIPPING_CHECK_SHEET_OVL" value="C:\テスト\MSPB\OVL\見守る_伝票チェックシート.pdf" />
	  <!-- 伝票チェックシート出力先 -->
	  <add key="MSPB003_SHIPPING_CHECK_SHEET_OUTPUT_PATH" value=".\帳票出力\伝票チェックシート" />
	  <!-- 伝票チェックシートフィル名 -->
	  <add key="MSPB003_SHIPPING_CHECK_SHEET_FILE" value="{0}_{1}伝票チェック_{2}.pdf" />	  
	  <!-- ゆうパック配送伝票 -->
	  <!-- ゆうパック配送伝票OVL -->
	  <add key="MSPB003_YU_PACK_DELIVERY_SLIP_OVL" value="C:\テスト\MSPB\OVL\ゆうパック配送伝票.pdf" />
	  <!-- ゆうパック配送伝票出力先 -->
	  <add key="MSPB003_YU_PACK_DELIVERY_SLIP_OUTPUT_PATH" value=".\帳票出力\ゆうパック配送伝票" />	  
	  <!-- ゆうパック配送伝票ファイル名（[出荷日]_[MS返却]ゆうパック_[hhmmss].pdf）-->
	  <add key="MSPB003_YU_PACK_DELIVERY_SLIP_FILE" value="{0}_{1}ゆうパック{2}.pdf" />
	  	  
	  <!-- MSPB004_出荷処理 -->
	  <!-- ゆうパック差出票OVL -->
	  <add key="MSPB004_YUPACK_LIST_OVL" value="C:\テスト\MSPB\OVL\2109ゆうパック差出票_OVL.pdf" />
	  <!-- ゆうパック差出票出力先 -->
	  <add key="MSPB004_YUPACK_LIST_OUTPUT_PATH" value=".\帳票出力\ゆうパック差出票" />
	  <!-- ゆうパック差出票ファイル名 -->
	  <add key="MSPB004_YUPACK_LIST_FILE" value="{0}_{1}ゆうパック差出票_{2}.pdf" />	  
	  <!-- ゆうパック発送部署 -->
	  <add key="MSPB004_YUPACK_SEND_DEPT" value="サービス運用部３－２" />

	  <!-- MSPB005_エスカレシート出力 -->
	  <!-- エスカレシートOVL -->
	  <add key="MSPB005_ESCALATION_SHEET_OVL" value="C:\テスト\MSPB\OVL\エスカレシート_yyyymmdd.xlsx" />
	  <!-- エスカレシート出力先 -->
	  <add key="MSPB005_ESCALATION_SHEET_OUTPUT_PATH" value=".\エスカレシート" />
	  <!-- エスカレシートファイル名 -->
	  <add key="MSPB005_ESCALATION_SHEET_FILE" value="エスカレシート_{0}.xlsx" />	  
	  
	  <!-- MSPB008_仕分コード更新 -->
	  <!-- 仕分コードファイル選択用初期フォルダ -->
	  <add key="MSPB008_SORTING_CODE_INPUT_PATH" value=".\INPUT" />
	  <!-- 仕分コードファイル名先頭文字 -->
	  <add key="MSPB008_SORTING_CODE_FILE_NAME_HEAD" value="" />
	  <!-- 仕分コードファイルヘッダ文字列 -->
	  <add key="MSPB008_SORTING_CODE_FILE_HEADER" value="業種" />

	  <!-- MSPB012_ユーザ管理-->
	  <!-- ユーザ管理のエクスポート対象フォルダ -->
	  <add key="MSPB012_EMPLOYEE_EXPORT_FOLDER_NAME" value="C:\Users\cC34184\Desktop\新しいフォルダー" />
	  <!-- ユーザ管理のインポート対象フォルダ -->
	  <add key="MSPB012_EMPLOYEE_IMPORT_FOLDER_NAME" value="C:\Users\cC34184\Desktop\新しいフォルダー" />

	  <!-- 位置情報XMLファイル -->
	  <!-- 伝票チェックシート位置情報ファイル -->
	  <add key="MSPB003_SHIPPING_CHECK_SHEET_POS_FILE" value="C:\テスト\MSPB\PositionXML\ShippingCheckSheetPosInfo.xml" />
	  <!-- 発送リスト位置情報ファイル -->
	  <add key="MSPB003_SHIPPING_LIST_POS_FILE" value="C:\テスト\MSPB\PositionXML\ShippingListPosInfo.xml"/>
	  <!-- ゆうパック配送伝票位置情報ファイル -->
	  <add key="MSPB003_YU_PACK_DELIVERY_SLIP_POS_FILE" value="C:\テスト\MSPB\PositionXML\YuPackMSRtnDeliverySlipPosInfo.xml" />
	  <!-- ゆうパック差出票位置情報ファイル -->
	  <add key="MSPB004_YUPACK_SLIP_POS_FILE" value="C:\テスト\MSPB\PositionXML\YupackSendingSlipPosInfo.xml" />	  

	  <!-- AdobeReader -->	  
	  <add key="AdobeReaderPath" value="C:\\Program Files\\Adobe\\Acrobat DC\\Acrobat\\Acrobat.exe" />
	  
	  <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
